<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 contenedor-bienvenida">
        <h1>Te doy la bienvenida a mi veterinaria</h1>
        <p>
            Los animales son una parte importante en la vida de las personas.
            Sin embargo, existen personas a quienes les apasionan
            más que a los demás el poder hacerse cargo de los animales, sus cuidados, bienestar y salud;
            para ellos, es una opción super recomendable que puedan estudiar.
        </p>
    </div>

</div>