<div style="margin-top: -80px">
    <div class="row justify-content-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-heart-pulse-fill"></i>
            <h1>Nuestra Misión</h1>
            <p>
                Proporcionar una atención de calidad a los clientes y sus mascotas con servicios integrales a través de experiencias gratificantes.
            </p>
            <p class="text-primary cabecera">
                Servicio Médicos:
            </p>
            <p>
                Urgencias, Consulta externa, Hospitalización, Laboratorio, Farmacia Veterinaria
            </p>
            <p class="text-primary cabecera">
                Habilidad:
            </p>
            <ul>
                <li>EMPATÍA</li>
                <li>EXCELENCIA</li>               
            </ul>
        </div>
        <!--Columna del front-end-->
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-heart-pulse"></i>
            <h1>Nuestra Visión</h1>
            <p>
                Ser un referente en ecuador en la prestación de servicios veterinarios, brindando una atención de excelencia y calidad con un grupo humano que ame y respete la vida apoyando a la comunidad.
            </p>
            <p class="text-primary cabecera">
                Especialidades Médicas:
            </p>
            <p>
                Oftalmología, Oncología, Neurología, Dermatología
            </p>
            <p class="text-primary cabecera">
                Habilidad:
            </p>
            <ul>
                <li>COOPERACIÓN</li>
                <li>FLEXIBILIDAD</li>
                
            </ul>
        </div>
    </div>
</div>
